*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}

.navbar  {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

.navbar .btnLogin-popup {
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    
}